*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
}

header {
    background-color: rgb(129, 150, 194);
    height: 550px;   
    
     
}

.containermenu{
    min-width: 1200px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding-top: 8px;

}

.container{
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


.fl{
    float: left;
      
}

.fr{
    float: right;
}

.left{
    text-align: center;
    width: 25%;  
}

.right{ 
    text-align: center;
    width: 25%;
}


.center{
    width: 25%;
    
}


li{
    display: inline-block;
    margin-left: 20px;  
    text-align: center;
}

#buttom1{
    padding: 8px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(38, 108, 199);
    color: white;
    margin-right: 15px;
}

h1{
    text-align: left;
    margin-top: 30px;
    margin-left: 170px;
    font-size: 40px;

}

p{
    text-align: left;
    margin-left: 170px;
    margin-top: 30px;
    font-size: 20px;
}

#buttom2{
    padding: 8px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(38, 108, 199);
    color: white;
    margin-left: 170px;
}

.text{
    margin-left: 170px;
    margin-top: 5px;
}

.freccia{
    font-size: 20px;
    margin-top: 9px;
    margin-left: 170px;
}

#img{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 45%;
    top: 35%;
}

.container1{
    min-width: 1200px;
    height: 950px;
    background-color: salmon;
}

.content {
    background: rgb(136, 221, 119);
    height: 700px;
    border-style: solid;
    border-color: slateblue;
    border: 10px 10px 10px 10px;
    width: 250px;
    padding: 8%;
    margin-top: 60%;
    margin-left: 60%;
}




.container2{
    min-width: 1200px;
    height: 500px;
    background-color: rgb(39, 108, 173);
   
}


.content2 {
    background: rgb(114, 63, 180);
    height: 300px;
    border-style: solid;
    border-color: rgb(39, 159, 189);
    border: 10px 10px 10px 10px;
    width: 200px;
    padding: 8%;
    margin-top: 10%;
    margin-left: 50px;
}